<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#Carte">Carte</a></li>
            <li><a href="#Revista">Revista</a></li>
            <li><a href="#Ziar">Ziar</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
      <p>Writing this live into the browser...</p>
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
  <div ng-controller="HomeController" class="container">
    <h1><a name="Carte">Carte</a></h1>
    <h2>Afiseaza toate cartile.</h2>
    <table class="table table-bordered">
      <tr>
        <th> Titlu</th>
		<th>Autor </th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in carti.data" data-id="{{ item.id }}">
        <td>{{item.titlu}}</td>
        <td>{{item.autor}}</td>
        <td>
          <button ng-click="showCarte(item.titlu,item.autor)" class="btn btn-succes btn-xs">
            Open
            <span class="glyphicon glyphicon-folder-open"></span>
          </button>
        </button>
        <button ng-click="setUpdateCarte(item)" class="btn btn-info btn-xs">
            Edit
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button ng-click="deleteCarte(item)" class="btn btn-danger btn-xs">
            Remove
            <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Carte</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Titlu</label>
            <input type="text" ng-model="editCarte.titlu" class="form-control" id="attribute4">
          </div>
          <div class="form-group">
            <label for="attribute2">Autor</label>
            <input type="text" ng-model="editCarte.autor" class="form-control" id="attribute4">
          </div>
          <button ng-click="updateCarte(carte)" type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga Carte</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Titlu</label>
            <input type="text" class="form-control" id="attribute1" ng-model="car.titlu">
          </div>
          <div class="form-group">
            <label for="attribute2">Autor</label>
            <input type="text" class="form-control" id="attribute2" ng-model="car.autor">
          </div>
          <button class="btn btn-success" ng-click="addCarte(carte)">Add</button>
        </form>
      </div>
    </div>

    <div ng-show="isOpen" class="row">
      <div class="col-md-12">
        <h2>Arata carte</h2>
      </div>
      <div class="col-md-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Book_icon_1.png" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>{{ carteShow.titlu }}</h1>
        <p>{{ carShow.autor }}</p>
      </div>
    </div>
  </div>

  <hr/>

  <!-- /resources2-->
  <div ng-controller="HomeController" class="container">
    <h1><a name="Ziar">Ziar</a></h1>
    <h2>Afiseaza toate ziarele</h2>
    <table class="table table-bordered">
      <tr>
        <th>Nume</th>
		<th> An </th>
		<th> Luna </th>
		<th> Zi </th>
        <th style="width:210px;">Options</th>
      </tr>

      <tr ng-repeat="item in ziare.data">
        <td>{{ item.nume }}</td>
        <td>{{ item.an }}</td>
        <td>{{ item.luna }}</td>
        <td>{{ item.zi }}</td>
        <td>
          <button ng-click="showZiar(item.nume)" class="btn btn-success btn-xs">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
          </button>
          <button ng-click="setUpdateZiar(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button ng-click="deleteZiar(item)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Adauga Ziar</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" id="attribute1" ng-model="ziar.nume">
          </div>
          <div class="form-group">
            <label for="attribute2">An</label>
            <input type="text" class="form-control" id="attribute2" ng-model="ziar.an">
          </div>
          <div class="form-group">
            <label for="attribute2">Luna</label>
            <input type="text" class="form-control" id="attribute2" ng-model="ziar.luna">
          </div>
          <div class="form-group">
            <label for="attribute2">Zi</label>
            <input type="text" class="form-control" id="attribute2" ng-model="ziar.zi">
          </div>
          <button ng-click="addZiar(ziar)" type="submit" class="btn btn-info">Add</button>
        </form>
      </div>



      <div class="col-md-3 col-md-offset-6">
        <h2>Edit Ziar</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" id="attribute1" ng-model="editZiar.nume">
          </div>
          <div class="form-group">
            <label for="attribute2">An</label>
            <input type="text" class="form-control" id="attribute2" ng-model="editZiar.an">
          </div>
          <div class="form-group">
            <label for="attribute2">Luna</label>
            <input type="text" class="form-control" id="attribute2" ng-model="editZiar.luna">
          </div>
          <div class="form-group">
            <label for="attribute2">Zi</label>
            <input type="text" class="form-control" id="attribute2" ng-model="editZiar.zi">
          </div>
          <button type="submit" class="btn btn-success" ng-click="updateZiar(ziar)">Save</button>
        </form>
      </div>
    </div>

    <div ng-show="isOpen" class="row">
      <div class="col-md-12">
        <h2>Arata Ziar</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.julius-r.co.uk/wp-content/uploads/2014/01/Newspaper350.jpg" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>{{ item.name }}</h1>
        <h3>Editie</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <th>An</th>
            <th>Luna</th>
            <th>Zi</th>
          </tr>
          <tr>
            <td>{{ ziarShow.an }}</td>
            <td>{{ ziarShow.luna }}</td>
            <td>{{ ziarShow.zi }</td>
          </tr>
        </table>
      </div>
    </div>
    </div>

  <hr/>
  <!-- resursa 3 !-->
  <div ng-controller="HomeController" class="container">
    <h1><a name="Revista">Revista</a></h1>
    <h2>Afiseaza toate revistele.</h2>
    <table class="table table-bordered">
      <tr>
       <th> Nume </th>
	   <th> An </th>
	   <th> Luna </th>
        <th style="width:210px;">Options</th>
      </tr>

      <tr ng-repeat="item in reviste.data">
        <td>{{ item.nume }}</td>
        <td>{{ item.an }}</td>
        <td>{{ item.luna }}</td>
        <td>
          <button ng-click="showRevista(item.nume)" class="btn btn-success btn-xs">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
          </button>
          <button ng-click="setUpdateRevista(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button ng-click="deleteFacultate(item)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Revista</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" id="attribute1" ng-model="editRevista.nume">
          </div>
          <button type="submit" class="btn btn-info" ng-click="updateRevista()">Save</button>
        </form>
      </div>

      <div class="col-md-3">
        <h2>Add Revista</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Nume</label>
            <input type="text" class="form-control" id="attribute1" ng-model="revista.nume">
          </div>
          <div class="form-group">
            <label for="attribute2">An</label>
            <input type="text" class="form-control" id="attribute2" ng-model="revista.an">
          </div>
          <div class="form-group">
            <label for="attribute3">Luna</label>
            <input type="text" class="form-control" id="attribute3" ng-model="revista.luna">
          </div>
          <button type="submit" class="btn btn-success" ng-click="addRevista(revista)">Add</button>
        </form>
      </div>


      <div ng-show="isOpen" class="row">
        <div class="col-md-12">
          <h2>Arata Revista</h2>
        </div>
        <div class="col-md-2">
          <img src="https://delgoh.files.wordpress.com/2013/12/time_magazine-obama.jpg" class="img-thumbnail"/>
        </div>
        <div class="col-md-10">
          <h1>{{ item.nume }}</h1>
          <h3>Editie</h3>
          <table class="table table-bordered table-striped">
            <tr>
              <th>An</th>
              <th>Luna</th>
            </tr>
            <tr>
              <td>{{ revistaShow.an }}</td>
              <td>{{ revistaShow.luna }}</td>
            </tr>
          </table>
        </div>
      </div>
      </div>
  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Docea Andrei-Ionut, 332AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
